<div
  class="w-full justify-center items-center py-12 md:py-24 text-white text-sm flex flex-row gap-2 md:gap-4 font-poppins"
>
  <div class="text-center"><a href="">Home</a></div><div>|</div>
  <div class="text-center"><a href="privacy-policy">Privacy Policy</a></div><div
  >
    |
  </div>
  <div class="text-center"><a href="contact">Contact</a></div>
</div>
