
<div class="w-full justify-center items-center pt-24 text-white flex flex-row gap-2 md:gap-4 font-poppins">
  <div><a href="">Home</a></div><div>|</div>
  <div><a href="">Features</a></div><div>|</div>
  <div><a href="privacy-policy">Privacy Policy</a></div><div>|</div>
  <div><a href="">Contact</a></div>
  </div>