---
import NavLink from "./NavLink.astro";
---

<div class="w-full flex flex-row items-center mb-10 md:mb-0 px-2 z-20 relative">
  <div
    class="flex flex-row flex-grow justify-center sm:justify-normal items-center"
  >
    <img src="./icon.png" class="h-[75px] w-[75px] md:h-[100px] md:w-[100px]" />
    <span
      class="md:pl-4 text-white font-righteous text-2xl md:text-4xl pt-[2px] px-1"
      >flashcardly</span
    >
  </div>
  <div
    class="hidden md:flex flex-row justify-end items-center flex-grow gap-12 pr-6"
  >
    <NavLink title="Home" path="sdffds" />
    <!-- <NavLink title="Features" path="sdffds" /> -->
    <NavLink title="Contact" path="sdffds" />
  </div>
  <!-- <div class="flex flex-row justify-end sm:hidden pr-4">
    <button class="border border-solid border-white rounded-md p-1 self-end">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        height="28"
        width="28"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
          <path
            d="M4 18L20 18"
            stroke="#fff"
            stroke-width="2"
            stroke-linecap="round"></path>
          <path
            d="M4 12L20 12"
            stroke="#fff"
            stroke-width="2"
            stroke-linecap="round"></path>
          <path
            d="M4 6L20 6"
            stroke="#fff"
            stroke-width="2"
            stroke-linecap="round"></path>
        </g></svg
      ></button
    >
  </div> -->

  <style>
    @keyframes bounceInRight {
      from,
      60%,
      75%,
      90%,
      to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0) scaleX(3);
      }

      60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0) scaleX(1);
      }

      75% {
        transform: translate3d(10px, 0, 0) scaleX(0.98);
      }

      90% {
        transform: translate3d(-5px, 0, 0) scaleX(0.995);
      }

      to {
        transform: translate3d(0, 0, 0);
      }
    }

    .bounce-in-right {
      animation: bounceInRight 1.5s ease-out;
    }

    .bounce-in-right-second {
      animation: bounceInRight 1.5s ease-out;
      animation-delay: 1s;
    }
  </style>
</div>
